@page "/request-it-suport"
@using AquaSolution.Client.Common
@using AquaSolution.Client.Components.ITSuport.RequestITSuport
@using AquaSolution.Shared.Enum
@using AquaSolution.Shared.ITSuport.RequestSuport;
@using AntDesign
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@inject IJSRuntime JS
@using AquaSolution.Shared.UserManagements
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>RequestSuport</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
            background: transparent !important;
        }

    </style>
    <div style="display: flex;  align-items: center; margin-bottom: 10px; ">
        <button @onclick="CreatedAsync" class="btn btn-primary custom-button-type">
            <Icon Type="plus" />Created
        </button>
        <div style="display:flex; align-items:center; gap:5px; flex-wrap:wrap;margin-left:5px">
            <Input Placeholder="requester name"
                   Value="@RequesterName"
                   style="width:170px;font-size:12px"
                   @onkeydown="HandleKeyDown"
                   @oninput="RequesterNameInputChanged" />

            <Input Placeholder="requester email"
                   Value="@Requesteremail"
                   style="width:170px;font-size:12px"
                   @onkeydown="HandleKeyDown"
                   @oninput="RequesteremailInputChanged" />


            <button @onclick="Search" style="border-color:#fff">
                <Icon Type="search" />Search
            </button>

            <button @onclick="Reset" style="border-color:#fff">
                <Icon Type="undo" />Reset
            </button>
        </div>
    </div>

</div>

<div style="width:98%;overflow-x:scroll ;max-height:70vh; ">

    <Table TItem="RequestSuportDto"
           Size="TableSize.Small"
           @ref="@_tableRef"
           Class="customTable fix-table-header"
           DataSource="_requestSuportFillter">
        <ColumnDefinitions Context="row">
            <PropertyColumn HeaderStyle="text-align: center;" Width="80" Title="TicketCode" Property="c => c.TicketCode"></PropertyColumn>
            <PropertyColumn HeaderStyle="text-align: center;" Width="300" Title="RequestTitle" Property="c => c.RequestTitle">
                <Template>
                    <a href="javascript:void(0);" @onclick="() => ViewAsync(row)">
                        @row.RequestTitle
                    </a>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="100" Title="Status" Property="c => c.Status" Filters="_statusFilter">
                <Tag Color="@GetTagColor.GetTagColorCss(row.Status.ToString())">@row.Status</Tag>
            </PropertyColumn>
            <PropertyColumn HeaderStyle="text-align: center;" Width="220" Title="RequestBy" Property="c => c.RequestByName"></PropertyColumn>
            <PropertyColumn HeaderStyle="text-align: center;" Width="220" Title="Requester Email" Property="c => c.RequestByEmail"></PropertyColumn>
            <PropertyColumn HeaderStyle="text-align: center;" Width="220" Title="TechnicianName" Property="c => c.TechnicianName" Filters="_technicianNameFilter"></PropertyColumn>
            <PropertyColumn HeaderStyle="text-align: center;" Width="100" Title="Category" Property="c => c.RequestSuportCategoryName"></PropertyColumn>
            <PropertyColumn HeaderStyle="text-align: center;" Width="180" Title="CreatedDate" Property="c => c.CreatedDate"></PropertyColumn>
            <Column Fixed="ColumnFixPlacement.Right" TData="RequestSuportDto" Width="50px" Context="row">
                <Template>
                    <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                        <ChildContent>
                            <Button Icon="menu" />
                        </ChildContent>
                        <ContentTemplate>
                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                <Button Type="ButtonType.Text" OnClick="@(async () => await ViewAsync(row))" Style="text-align: left;">
                                    <Icon Type="plus" /> Detail
                                </Button>
                                @{
                                    var disable3 = row.Status == RequestSuportStatusType.Resolved || row.Status == RequestSuportStatusType.Cancel;
                                }
                                @if (Edit)
                                {
                                    <Button Disabled="disable3" Type="ButtonType.Text" OnClick="@(async () => await UpdateAsync(row))" Style="text-align: left;">
                                        <Icon Type="edit" /> Edit
                                    </Button>
                                }

                                @if (Delete)
                                {
                                    var disible = CurrenUser.Roles.Any(x => x.Name == "Admin") ? false : disable3;
                                    <Button Disabled="disible" Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(row.Id))" Style="text-align: left;">
                                        <Icon Type="delete" /> Delete
                                    </Button>
                                }
                            </div>
                        </ContentTemplate>
                    </Popover>
                </Template>
            </Column>
        </ColumnDefinitions>
    </Table>
</div>
<RequestITSuport OnSave="LoadData" @ref="@_requestItSuport"></RequestITSuport>
<RequestITSuportDetailModal @ref="@_requestItSuportDetailModal" />