@using AntDesign
@using AquaSolution.Shared.CommonDto;
@using AquaSolution.Shared.UserManagements
@using AquaSolution.Shared.Administration.UserManagements
@using AquaSolution.Shared.Enum.KPIType
@inject IMessageService Message
@{
    RenderFragment footer = @<Template>

        <Button OnClick="@SaveAsync" @key="@( "submit" )"
                Type="ButtonType.Primary">
            Save
        </Button>

        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>

    </Template>;
}
<Modal @bind-Visible="IsModalVisible" Style="z-index: 9999;width:1000px;margin-top:-75px" Footer="@footer">
    <Form @ref="@formRef"
          Model="@QuaterCalculatedDto"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true">

        <Row Gutter="16">
            <Col Span="18">
            <FormItem Required="true" Label="Calculated">
                <TextArea ShowCount MinRows="1" MaxRows="1" @bind-Value="@QuaterCalculatedDto.Calculated" AllowClear="true" />
            </FormItem>
            </Col>

            <Col Span="6">
            <FormItem Label="QuarterCalculateType" Required="true">
                <Select TItem="QuarterCalculateType"
                        TItemValue="QuarterCalculateType"
                        DataSource="@ListKPIQuarterCalculateType"
                        @bind-Value="@QuaterCalculatedDto.QuarterCalculateType"
                        ItemValue="c => c"
                        ItemLabel="c => c.ToString()">
                </Select>
            </FormItem>
            </Col>
        
        </Row>
        <Row Gutter="16">
            <Col Span="24">
            <FormItem Required="true" Label="DesCription">
                <TextArea ShowCount MinRows="2" MaxRows="2" @bind-Value="@QuaterCalculatedDto.DesCription" AllowClear="true" />
            </FormItem>
            </Col>
        </Row>

     
    </Form>
</Modal>
