@using AntDesign
@using AquaSolution.Shared.CommonDto;
@using AquaSolution.Shared.UserManagements
@inject IMessageService Message
@{
    RenderFragment footer = @<Template>

        <Button OnClick="@SaveAsync" @key="@( "submit" )"
                Type="ButtonType.Primary">
            Save
        </Button>

        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>

    </Template>;
}
<Modal @bind-Visible="IsModalVisible" Style="z-index: 9999;width:1000px;margin-top:-75px" Footer="@footer">
    <Form @ref="@formRef"
          Model="@CreatedUserDto"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true">
        <Row Gutter="16">
            <Col Span="5">
            <FormItem Required="true" Label="FirstName">
                <TextArea ShowCount MinRows="1" MaxRows="1" @bind-Value="@CreatedUserDto.FirstName" AllowClear="true" />
            </FormItem>
            </Col>
            <Col Span="5">
            <FormItem Required="true" Label="LastName">
                <TextArea ShowCount MinRows="1" MaxRows="1" @bind-Value="@CreatedUserDto.LastName" AllowClear="true" />
            </FormItem>
            </Col>
            <Col Span="4">
            <FormItem Required="true" Label="WorkDayId">
                <TextArea ShowCount MinRows="1" MaxRows="1" @bind-Value="@CreatedUserDto.WorkDayId" AllowClear="true" />
            </FormItem>
            </Col>
            <Col Span="10">
            <FormItem Required="true" Label="Email">
                <TextArea ShowCount MinRows="1" MaxRows="1" @bind-Value="@CreatedUserDto.Email" AllowClear="true" />
            </FormItem>
            </Col>
        </Row>
        <Row Gutter="16">
            <Col Span="6">
            <FormItem  Label="PhoneNumber">
                <TextArea ShowCount MinRows="1" MaxRows="1" @bind-Value="@CreatedUserDto.PhoneNumber" AllowClear="true" />
            </FormItem>
            </Col>
            <Col Span="8">
            <FormItem  Label="Position">
                <Select TItem="BaseDto" TItemValue="BaseDto"
                        DataSource="@ListPosition"
                        @bind-Value="@ValuePosition"
                        AllowClear="true"
                        ItemValue="c => c"
                        ItemLabel="c => c.Name">
                </Select>
            </FormItem>
            </Col>
            <Col Span="8">
            <FormItem  Label="Factory">
                <Select TItem="BaseDto" TItemValue="BaseDto"
                        DataSource="@ListFactory"
                        @bind-Value="@ValueFactory"
                        AllowClear="true"
                        ItemValue="c => c"
                        ItemLabel="c => c.Name">
                </Select>
            </FormItem>
            </Col>
        </Row>
        <Row Gutter="16">
            <Col Span="12">
            <FormItem  Label="Department">
                <Select TItem="BaseDto" TItemValue="BaseDto"
                        DataSource="@ListDepartment"
                        @bind-Value="@ValueDepartment"
                        AllowClear="true"
                        ItemValue="c => c"
                        ItemLabel="c => c.Name">
                </Select>
            </FormItem>
            </Col>
            <Col Span="12">
            <FormItem Label="Manager">
                <Select TItem="UserContributerDto" TItemValue="UserContributerDto"
                        DataSource="@Listmanager"
                        @bind-Value="@ValueManager"
                        AllowClear="true"
                        EnableSearch
                        AutoClearSearchValue="true"
                        ItemValue="c => c"
                        ItemLabel="c => c.Name">
                </Select>
            </FormItem>
            </Col>
            @if (IsEdit)
            {
                <AntDesign.Col Span="2">
                    <FormItem Label="IsActive">
                        <Switch @bind-Value="@CreatedUserDto.IsActive" />
                    </FormItem>
                </AntDesign.Col>
            }

        </Row>
    </Form>
</Modal>

