@using AntDesign
@inject IJSRuntime JSRuntime
@{
    RenderFragment footer = @<Template>

        <Button OnClick="@Save" @key="@("submit")"
                Type="ButtonType.Primary">
            Save
        </Button>


        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>

    </Template>;
}
<Modal @bind-Visible="IsVisible"
       Draggable="true"
       Style="z-index: 9999;width:1000px ;height:80vh !important ; margin-top:-80px"
       Footer="@footer" Title="Permission Settings">
    <div class="modal-body" style="width:100%;overflow-x:scroll ;max-height:60vh; ">

        <Collapse Accordion="false">
            @foreach (var group in listAllPermission)
            {
                <Panel Header=@($"{group.MenuName} ({group.Permissions?.Count ?? 0} Permission)") Key="@group.MenuId.ToString()">
                    @if (group.Permissions?.Any() == true)
                    {
                        var listMenu = group.Permissions.Where(x => x.PageId == null).ToList();
                        if (listMenu.Any())
                        {
                            <li class="mb-2">
                                <Checkbox Checked="@listMenu.First().IsChecked"
                                          CheckedChanged="(e => TogglePermission(e, listMenu.First().PermissionId))">
                                    <h6>@listMenu.First().PermissionName</h6>
                                </Checkbox>
                            </li>
                        }
                        var listGroup = group.Permissions.Where(x => x.PageId != null).ToList();

                        @foreach (var pageGroup in listGroup.GroupBy(p => p.PageName))
                        {
                            <Collapse Accordion="false">
                                <Panel Header="@pageGroup.Key" Key="@pageGroup.Key">
                                    @foreach (var child in pageGroup)
                                    {
                                        <li class="mb-2">
                                            <Checkbox Checked="@child.IsChecked"
                                                      CheckedChanged="(e => TogglePermission(e, child.PermissionId))">
                                                @child.PermissionName
                                            </Checkbox>
                                        </li>
                                    }
                                </Panel>
                            </Collapse>
                        }

                    }
                    else
                    {
                        <div>No permissions available.</div>
                    }
                </Panel>
            }

        </Collapse>

    </div>
</Modal>
