@page "/approval-flow-management"
@using AntDesign
@inject ModalService Modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Client.Modals.Administration.ApprovalFlows
@using AquaSolution.Shared.ApprovalFlows
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Approval Flow</PageTitle>
<div class="user-management-container">
    <div class="mb-3">
        <style>
            .custom-button-type {
                height: 30px;
                font-size: 12px;
            }
        </style>
        <button @onclick="CreatedApprovalFlow" class="btn btn-primary custom-button-type">
            <Icon Type="plus" />Created Flow
        </button> 
    </div>
    <div style="width:100%;overflow-x:scroll ;max-height:70vh; ">
        <Collapse>
            @foreach (var group in _groupedList)
            {
                <Panel Header="@($"{group.FlowApproval}({group.Items.Count})")">
                    <Table PaginationPosition="false" DataSource="@group.Items">
                        <ColumnDefinitions Context="rowItem">
                            <PropertyColumn Title="Name" Width="150" Property="c => c.Name"></PropertyColumn>
                            @* <PropertyColumn Title="Position" Width="auto" Property="c => c.PositionName"></PropertyColumn> *@
                            <PropertyColumn Title="User Approve" Width="auto" Property="c => c.DecisionMakerName"></PropertyColumn>
                            <PropertyColumn Title="Approval Type" Width="auto" Property="c => c.ApprovalSettingType"></PropertyColumn>
                            <PropertyColumn Title="Current Step" Width="150" Property="c => c.CurrentStep"></PropertyColumn>
                            <PropertyColumn Title="Next Step" Width="150" Property="c => c.NextStep"></PropertyColumn>
                            <Column Fixed="ColumnFixPlacement.Right" TData="ApprovalFlowDto" Width="50px" Context="rowItem">
                                <Template>
                                    <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                                        <ChildContent>
                                            <Button Icon="menu" />
                                        </ChildContent>
                                        <ContentTemplate>
                                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                                <Button Type="ButtonType.Text" OnClick="@(async () => await EditApprovalFlow(rowItem))" Style="text-align: left;">
                                                    <Icon Type="plus" /> Edit
                                                </Button>
                                                <Button Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(rowItem))" Style="text-align: left;">
                                                    <Icon Type="delete" /> Delete
                                                </Button>
                                            </div>
                                        </ContentTemplate>
                                    </Popover>
                                </Template>
                            </Column>
                        </ColumnDefinitions>
                    </Table>
                </Panel>
            }
        </Collapse>

    </div>
   
</div>
<ApprovalFlowModal OnSave="LoadDataAsync" @ref="@approvalFlowModal"></ApprovalFlowModal>  