@page "/roles-management"
@using AquaSolution.Client.Components.Administration.Roles
@using AntDesign
@inject ModalService Modal
@inject IMessageService Message
@using AquaSolution.Shared.UserManagements
<PageTitle>Roles</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
             background: transparent !important; 
        }

    </style>
    <button @onclick="ShowAddRole" class="btn btn-primary custom-button-type">
        <Icon Type="plus" />Created
    </button>
</div>

<Table TItem="RoleDto"
       Size="TableSize.Small"
       Class="customTable fix-table-header"
       DataSource="_roles">
    <ColumnDefinitions Context="row">
        <PropertyColumn Title="RoleName" Property="c => c.Name"></PropertyColumn>
        <Column Fixed="ColumnFixPlacement.Right" TData="UserDto"  Context="row">
            <Template>
                <div style="display:flex; justify-content:flex-end; gap: 6px;">
                    <button class="btn btn-secondary btn-sm custom-button-type"
                            @onclick="@(async () => await ShowPermissionModal(row))">
                        <Icon Type="edit" /> Permission
                    </button>

                    <button class="btn btn-danger btn-sm custom-button-type"
                            @onclick="@(async () => await DeleteRoleAsync(row))">
                        <Icon Type="delete" /> Delete
                    </button>
                </div>
            </Template>
        </Column>
    </ColumnDefinitions>
</Table>
<PermissionModal @ref="_permissionModal" OnSave="LoadRoles" />
<!-- #region name -->
@{
    RenderFragment footer = @<Template>

        <Button OnClick="@Save" @key="@("submit")"
                Type="ButtonType.Primary">
            Save
        </Button>


        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>

    </Template>;
}
<Modal @bind-Visible="IsVisible"
       Style="z-index: 9999;width:500px ;height:78vh !important"
       Footer="@footer" Title="Permission Settings">
    <Form Model="@CreatedRoleDto" Layout="FormLayout.Vertical">
        <Row Gutter="24">
            <Col Span="24">
            <FormItem Label="Role Name" Required="true">
                <TextArea ShowCount MinRows="1" MaxRows="1"
                          @bind-Value="@CreatedRoleDto.RoleName"
                          AllowClear="true" />
            </FormItem>
            </Col>
        </Row>
    </Form>
</Modal>

<!-- #endregion -->
