@page "/user-management"
@using AquaSolution.Client.Components.Administration.Users
@using AntDesign
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.UserManagements
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Users</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
             background: transparent !important; 
        }



        .custom-label {
            background-color: #007bff;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
        }

            .custom-label:hover {
                background-color: #0056b3;
            }
    </style>
    <div style="display: flex;  align-items: center; margin-bottom: 10px;">
        @if (Created)
        {
            <button @onclick="AddUserDialog" class="btn btn-primary custom-button-type">
                <Icon Type="plus" />Created
            </button>
        }
    @*     <InputFile class="custom-file-input" OnChange="@(e => HandleFileSelected(e))" /> *@
        <!-- #region Search -->
        <Input Placeholder="WorkDayId" Value="@WorkDayId" style="margin-left:2px;width:190px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="WorkDayIdInputChanged" />
        <Input Placeholder="Full Name" Value="@FullName" style="margin-left:2px;width:190px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="FullNameInputChanged" />
        @* <Input Placeholder="Email" Value="@Email" style="margin-left:2px;width:170px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="EmailInputChanged" /> *@
        <button @onclick="Search" style="margin-left:5px;border-color:#fff"><Icon Type="search" />Search</button>
        <button @onclick="Reset" style="margin-left:5px;border-color:#fff"><Icon Type="undo" />Reset</button>
    </div>
    <!-- #endregion -->

</div>
<div style="width:100%;overflow-x:scroll ;max-height:70vh; ">
    <Table TItem="UserDto"
           Size="TableSize.Small"
           Class="customTable fix-table-header"
           DataSource="userFilter">
        <ColumnDefinitions Context="row">
            <Column TData="UserDto" Fixed="ColumnFixPlacement.Left" Width="50px" Context="row">
                <Template>
                    <div style="display: flex; align-items: center; gap: 8px;">
                        <Avatar Src="@row.Avatar" Shape="AvatarShape.Circle" Size="AvatarSize.Small" />
                    </div>
                </Template>
            </Column>
            <PropertyColumn Width="250px"  Title="Fullname" Property="c => c.FullName"></PropertyColumn>
            <PropertyColumn Width="100px" Title="WorkDayId" Property="c => c.WorkDayId"></PropertyColumn>
            <PropertyColumn Sortable Title="Factory" Property="c => c.FactoryName"></PropertyColumn>
            <PropertyColumn Width="150px" Sortable Title="DepartmentName" Property="c => c.DepartmentName"  ></PropertyColumn>
            <PropertyColumn Width="90px" Sortable Title="Position" Property="c => c.PositionName"></PropertyColumn>
            <PropertyColumn Title="Email" Property="c => c.Email"></PropertyColumn>
            <PropertyColumn Sortable  Title="IsActive" Property="c => c.IsActive"></PropertyColumn>
            <Column Fixed="ColumnFixPlacement.Right" TData="UserDto" Width="50px" Title="Action" Context="row">
                <Template>
                    <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                        <ChildContent>
                            <Button Icon="menu" />
                        </ChildContent>
                        <ContentTemplate>
                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                <Button Type="ButtonType.Text" OnClick="@(async () => await DetailUser(row))" Style="text-align: left;">
                                    <Icon Type="plus" /> Detail
                                </Button>
                                @if (Edit)
                                {
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await EditUser(row))" Style="text-align: left;">
                                        <Icon Type="edit" /> Edit
                                    </Button>
                                }
                                @if (EditRole)
                                {
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await ShowRoleDialog(row))" Style="text-align: left;">
                                        <Icon Type="android" /> RolesManagement
                                    </Button>
                                }
                                @if (Delete)
                                {
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(row))" Style="text-align: left;">
                                        <Icon Type="delete" /> Delete
                                    </Button>
                                }
                            </div>
                        </ContentTemplate>
                    </Popover>
                </Template>
            </Column>
        </ColumnDefinitions>
    </Table>
</div>
<RoleManagerDialog @ref="roleManagerDialog"
                   OnSave="HandleSaved" />
<UserModal @ref="userModal" OnSave="HandleSaved"></UserModal>
<UserDetailModal @ref="detailModal"></UserDetailModal>