@page "/report-inventory"
@using AquaSolution.Client.Components.ManageMedicalRooms.InventoryPeriod
@using AquaSolution.Client.Components.ManageMedicalRooms.Treatments
@using AquaSolution.Client.Components.Administration.Users
@using AntDesign
@using AquaSolution.Shared.ManageMedicalRooms.Inventories;
@using AquaSolution.Shared.ManageMedicalRooms.RequestClinics
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.ManageMedicalRooms.InventoryPeriod
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>ReportInventory</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
                color: red !important;
                font-weight: 700;
                text-align: center;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .customTable2 {
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
            background: transparent !important;
        }



        .custom-label {
            background-color: #007bff;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
        }

            .custom-label:hover {
                background-color: #0056b3;
            }
    </style>
    <div style="display:flex; flex-direction:column; align-items:center; margin-bottom:15px;">
        <h3 style="margin-bottom:5px;color:red">BÁO CÁO SỬ DỤNG THUỐC</h3>
        <h5 style="color:red">@($"Tháng - {MonthValue.ToString("D2")} - {YearValue}")</h5>
        
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; width: 98%;">
       @{
        <div style="display:flex; flex-direction:column; color:#123d6b; font-weight:700;">
                <span>Người lập: @(loadReportInventory != null ? loadReportInventory.CreatedByName : "")</span>
                <span>Ngày lập: @(loadReportInventory != null ? loadReportInventory.CreatedDate?.ToString("dd/MM/yyyy") : "")</span>
        </div>
       }


        <div>
            <span style="font-weight:600">Tháng</span>
            <select @bind="MonthValue" style="font-size:12px; padding:2px; width:80px">
                @for (int m = 1; m <= 12; m++)
                {
                    <option value="@m">@m.ToString("D2")</option>
                }
            </select>
            <span style="font-weight:600">Năm</span>
            <select @bind="YearValue" style="font-size:12px; padding:2px; width:80px">
                @foreach (var year in Years)
                {
                    <option value="@year">@year.ToString("D4")</option>
                }
            </select>
        </div>
    </div>

    <!-- #endregion -->

</div>
<div style="width:98%;overflow-x:scroll ;max-height:57vh; ">
    <Table TItem="LoadReportInventoryDetailDto"
           Size="TableSize.Small"
           Class="cu fix-table-header"
           Bordered
           DataSource="loadReportInventory.LoadReportInventoryDetail">
        <ColumnDefinitions Context="row">
            <!-- Text: căn trái -->
            <PropertyColumn Width="250" Title="TÊN THUỐC" Property="c => c.ProductName" Align="ColumnAlign.Left">
                <Template >
                    <span style="color:#123d6b; font-weight:700;">
                        @row.ProductName
                    </span>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="50" Title="ĐVT" Property="c => c.Unit" Align="ColumnAlign.Left">
                <Template>
                    <span style="color:#123d6b; font-weight:700;">
                        @row.Unit
                    </span>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="110" Title="HSD" Property="c => c.ExpirationDate" Format="dd/MM/yyyy" Align="ColumnAlign.Left">
                <Template>
                    <span style="color:red; font-weight:600;">
                        @row.ExpirationDate?.ToString("dd/MM/yyyy")
                    </span>
                </Template>
                </PropertyColumn>

            <!-- Number: căn phải -->
            <PropertyColumn Width="160" Title="TỒN CŨ" Property="c => c.BeginningInventory" Format="N2" Align="ColumnAlign.Right">
                <Template>
                    <span style="color:red; font-weight:600;">
                        @row.BeginningInventory.ToString("N2")
                    </span>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="160" Title="NHẬP MỚI" Property="c => c.NewInbound" Format="N2" Align="ColumnAlign.Right">
                <Template>
                    <span style="color:red; font-weight:600;">
                        @row.NewInbound.ToString("N2")
                    </span>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="160" Title="SỬ DỤNG" Property="c => c.ConsumPosition" Format="N2" Align="ColumnAlign.Right">
                <Template>
                    <span style="color:red; font-weight:600;">
                        @row.ConsumPosition.ToString("N2")
                    </span>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="100" Title="TỔNG TỒN" Property="c => c.TotalStock" Format="N2" Align="ColumnAlign.Right">
                <Template>
                    <span style="color:red; font-weight:600;">
                        @row.TotalStock.ToString("N2")
                    </span>
                </Template>
            </PropertyColumn>

            <!-- Note: text căn trái -->
        </ColumnDefinitions>
    </Table>

</div>