@using System.ComponentModel.DataAnnotations
@using AntDesign 

@inject IMessageService Message
@using AquaSolution.Shared.AuthModels
@inject NavigationManager Nav
@{
    RenderFragment footer = @<Template>

        <Button OnClick="@SaveAsync" @key="@( "submit" )"
                Type="ButtonType.Primary">
            Save
        </Button>

        <Button Style="color:#808080" OnClick="@HandleCancel" @key="@("back")">Close</Button>

    </Template>;
}
<Modal @bind-Visible="_visible" Title="ChangePassword" Width="600" Footer="@footer">
    <EditForm Model="_model" OnValidSubmit="SaveAsync">
        <DataAnnotationsValidator />
        <Form TModel="ChangePassRequest" Model="_model" Layout="FormLayout.Horizontal"
              LabelColSpan="6" WrapperColSpan="18">
            <ChildContent Context="formCtx">
                <FormItem Label="Old Password">
                    <InputPassword @bind-Value="_model.OldPassword" />
                </FormItem>

                <FormItem Label="New Password">
                    <InputPassword @bind-Value="_model.NewPassword" />
                </FormItem>

                <FormItem Label="Confirm Password">
                    <InputPassword @bind-Value="_model.ConfirmPassword" />
                </FormItem>
            </ChildContent>
        </Form>

    </EditForm>
</Modal>