@using AntDesign
@using AquaSolution.Client.Common
@using AquaSolution.Shared.KPI.KPISubmit
@using AquaSolution.Client.Common.ConvertNumber
@using AquaSolution.Shared.CommonDto
@using AquaSolution.Shared.Enum
@using AquaSolution.Shared.Enum.KPIType
@using AquaSolution.Shared.ITSuport.RequestSuport
@inject HttpClient httpClient
@using AquaSolution.Shared.ITSuport.RequestSuportCategory
@using AquaSolution.Shared.UserManagements
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject IMessageService Message
@{
    RenderFragment footer = @<Template>
    @if (!IsView)
    {
            <Button OnClick="@ApprovalAsync" @key="@( "submit" )"
                    Type="ButtonType.Primary">
                Approval
            </Button>

            <Button OnClick="@RejectedAsync" @key="@( "rejected" )"
                    Style="color:red">
                Rejected
            </Button>
    }
    <Button Style="color:#808080" OnClick="@CloseModal" @key="@("back")">Close</Button>
    </Template>;
    //--------------------

}
<style>
    .customTable-score {
        width:100% !important;
        overflow-x:auto;
    }
</style>
<Modal @bind-Visible="IsVisibleModal"
       Style="z-index: 9999;width:1600px;margin-top:-90px"
       Draggable="true"
       Footer="@footer" Title="@ModalTitle">
    <div style="max-height:70vh;overflow-y:auto">
        <Collapse DefaultActiveKey="@(new[] { "1" })">
            <Panel Class="customInfo" Header="Process Approval" Key="1">

                <div>
                    @{
                        int FinishStep = ProcessApprovalList
                        .Where(x => x.ApprovalStatusType == EApprovalStatusType.Approved
                        || x.ApprovalStatusType == EApprovalStatusType.Rejected)
                        .OrderByDescending(x => x.StepNumber)
                        .Select(x => x.StepNumber)
                        .FirstOrDefault();

                        <Steps  Direction="StepsDirection.Vertical" Size="StepsSize.Default" Current="@FinishStep">
                            @foreach (var step in ProcessApprovalList.OrderBy(x => x.StepNumber))
                            {

                                RenderFragment description = __builder =>
                                {
                                    int seq = 0;

                                    if (step.ApprovalStatusType == EApprovalStatusType.Approved || step.ApprovalStatusType == EApprovalStatusType.InReview)
                                    {
                                        __builder.AddContent(seq++, $"Approval: {step.ApprovalName}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Email: {step.ApprovalEmail}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Comment: {step.Comment}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Approval Date: {step.ApprovalDate?.ToString("yyyy-MM-dd HH:mm") ?? "Waiting"}");
                                    }
                                    else if (step.ApprovalStatusType == EApprovalStatusType.Rejected)
                                    {
                                        __builder.AddContent(seq++, $"Rejected: {step.RejectedName}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Email: {step.RejectedEmail}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Comment: {step.Comment}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Rejected Date: {step.RejectedDate?.ToString("yyyy-MM-dd HH:mm") ?? "Waiting"}");
                                    }
                                    else if (step.ApprovalStatusType == EApprovalStatusType.Pending)
                                    {
                                        __builder.AddContent(seq++, $"Approval: {step.PendingEmail}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                        __builder.AddContent(seq++, $"Email: {step.PendingName}");
                                        __builder.AddMarkupContent(seq++, "<br/>");
                                    }
                                    else
                                    {
                                        __builder.AddContent(seq++, $"Status: Waiting");
                                    }
                                };

                                <Step Class="custom-step"  >
                                    <TitleTemplate>
                                        <span style="color:@GetTagColor.GetTagColorCss(step.ApprovalStatusType.ToString())">
                                            @($"Level {step.StepNumber} : {step.ApprovalStatusType}")
                                        </span>
                                    </TitleTemplate>
                                    <DescriptionTemplate>
                                        @description
                                    </DescriptionTemplate>
                                </Step>
                            }
                        </Steps>

                    }
                </div>

            </Panel>
            <Panel Class="customDocument" Header="Detail" Key="2">
                @{

                    var halfYearScore = ViewDetailApprovalKPI.TotalScore?.FirstOrDefault(x => x.HalfYear != null);
                    if (halfYearScore != null)
                    {
                        var title = $"{halfYearScore.Title}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"KPI Score:{ConvertNumberCommon.ConvertNumber(halfYearScore.KPIScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"KeyTaskScore:{ConvertNumberCommon.ConvertNumber(halfYearScore.KeyTaskScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"OMGScore:{ConvertNumberCommon.ConvertNumber(halfYearScore.OMGScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"Total Score:{ConvertNumberCommon.ConvertNumber(halfYearScore.TotaleScore)}";
                        <h7 style="margin-left:10px;display:block">@title</h7>
                    }
                    var quarterScore = ViewDetailApprovalKPI.TotalScore?.FirstOrDefault(x => x.Quarter != null);
                    if (quarterScore != null)
                    {
                        var quarterTitle = $"{quarterScore.Title}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"KPI Score:{ConvertNumberCommon.ConvertNumber(quarterScore.KPIScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"KeyTaskScore:{ConvertNumberCommon.ConvertNumber(quarterScore.KeyTaskScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"OMGScore:{ConvertNumberCommon.ConvertNumber(quarterScore.OMGScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"Total Score:{ConvertNumberCommon.ConvertNumber(quarterScore.TotaleScore)}";
                        <h7 style="margin-left:10px">@quarterTitle</h7>
                    }
                    var month = ViewDetailApprovalKPI.TotalScore?.FirstOrDefault(x => x.Month != null);
                    var monthTitle = string.Empty;
                    if(month != null)
                    {
                        monthTitle = $"{month.Title}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"KPI Score:{ConvertNumberCommon.ConvertNumber(month.KPIScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"KeyTaskScore:{ConvertNumberCommon.ConvertNumber(month.KeyTaskScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"OMGScore:{ConvertNumberCommon.ConvertNumber(month.OMGScore)}"
                        + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0"
                        + $"Total Score:{ConvertNumberCommon.ConvertNumber(month.TotaleScore)}";
                    }
                    <Table TItem="DetailScoreDto"
                           Size="TableSize.Small"
                           Style="width:40vh"
                           Title="@monthTitle"
                           Class="customTable-score fix-table-header"
                           Bordered
                           HidePagination
                           DataSource="ViewDetailApprovalKPI.DetailScore.Where(x=>x.Month !=null)">

                        <ColumnDefinitions Context="rowTarget">
                            <PropertyColumn Width="100px" Title="Index" Property="c => c.KPIIndexType"></PropertyColumn>
                            <PropertyColumn Width="100px" Title="Category" Property="c => c.KPICategory"></PropertyColumn>
                            <PropertyColumn Width="250px" Title="TaskName" Property="c => c.TaskName"></PropertyColumn>
                            <PropertyColumn Width="300px" Title="Description" Property="c => c.Description"></PropertyColumn>
                            <PropertyColumn Width="250px" Title="CalculateMethod" Property="c => c.CalculateMethod"></PropertyColumn>
                            <PropertyColumn Width="150px" Title="Formula" Property="c => c.Formula"></PropertyColumn>
                            <PropertyColumn Width="50px" Title="Unit" Property="c => c.Unit"></PropertyColumn>
                            <PropertyColumn Width="90px" Title="DataSource" Property="c => c.DataSource"></PropertyColumn>
                            <PropertyColumn Width="200px" Title="PIC" Property="c => c.PIC"></PropertyColumn>
                            <PropertyColumn Width="100px" Title="Weight" Property="c => c.WeightString"></PropertyColumn>
                            <PropertyColumn Width="90px" Title="Max" Property="c => c.MaxString"></PropertyColumn>
                            <PropertyColumn Width="90px" Title="Bottom" Property="c => c.BottomString"></PropertyColumn>
                            <PropertyColumn Width="150px" Title="TargetValue" Property="c => c.TargetValue" Format="0.00"></PropertyColumn>
                            <PropertyColumn Width="150px" Title="ActualValue" Property="c => c.ActualValue" Format="0.00"></PropertyColumn>
                            <PropertyColumn Width="150px" Title="Achiement" Property="c => c.AchiementString" Format="0.00"></PropertyColumn>
                            <PropertyColumn Width="150px" Title="Score" Property="c => c.Score" Format="0.00"></PropertyColumn>
                        </ColumnDefinitions>
                    </Table>
                }
            </Panel>
        </Collapse>
    </div>
</Modal>
