@using AntDesign
@using AquaSolution.Client.Components.Administration.Icon
@using AquaSolution.Shared.CommonDto
@using AquaSolution.Shared.Factory
@using AquaSolution.Shared.Position;
@using AquaSolution.Shared.UserManagements
@using AquaSolution.Shared.Enum
@inject HttpClient httpClient
@inject IMessageService Message

@{
    RenderFragment footer = @<Template>
        <Button OnClick="@SaveAsync" @key="@("submit")" Type="ButtonType.Primary">
            Save
        </Button>

        <Button Style="color:#808080" OnClick="@HandleCancel" @key="@("back")">
            Close
        </Button>
    </Template>;
}

<Modal @bind-Visible="IsModalVisible" Title="@Title" Width="850" Footer="@footer">
    <Form @ref="@formRef"
          Model="@_modal"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true"
          Context="formCtx">

        <Row Gutter="24">
            <Col Span="12">
            <FormItem Required="true" Label="Title">
                <Input @bind-Value="_modal.Name" />
            </FormItem>
            </Col>

            <Col Span="12">
            <FormItem Label="Position">
                <Select TItem="PositionDto" TItemValue="Guid"
                        DataSource="@ListPosition"
                        @bind-Value="@_modal.PositionId"
                        AllowClear="true"
                        EnableSearch
                        AutoClearSearchValue="true"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.Name">
                </Select>
            </FormItem>
            </Col>
        </Row>
        <Row Gutter="24">
            <Col Span="12">
            <FormItem Label="ApprovalSettingType">
                <Select TItem="ApprovalSettingType" TItemValue="ApprovalSettingType"
                        DataSource="@ListApprovalSettingType"
                        @bind-Value="@_modal.ApprovalSettingType"
                        AllowClear="true"
                        EnableSearch
                        AutoClearSearchValue="true"
                        ItemValue="c => c"
                        ItemLabel="c => c.ToString()">
                </Select>
            </FormItem>
            </Col>
            <Col Span="12">
            <FormItem Label="DecisionMaker">
                <Select TItem="UserContributerDto" TItemValue="Guid ?"
                        DataSource="@AllUser"
                        @bind-Value="@_modal.DecisionMaker"
                        AllowClear="true"
                        EnableSearch
                        AutoClearSearchValue="true"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.Name">
                </Select>
            </FormItem>
            </Col>
        </Row>
        <Row Gutter="24">
            <Col Span="12">
            <FormItem Label="CurrentStep">
                <Input @bind-Value="_modal.CurrentStep" />
            </FormItem>
            </Col>

            <Col Span="12">
            <FormItem Label="NextStep">
                <Input @bind-Value="_modal.NextStep" />
            </FormItem>
            </Col>

        </Row>
        <Row Gutter="24">
            <Col Span="24">
            <FormItem Label="CurrentStep">
                <TextArea Rows="2" @bind-Value="_modal.DesCription" MaxRows="3"></TextArea>
            </FormItem>
            </Col>
        </Row>
    </Form>
</Modal>
