@using AntDesign
@using AquaSolution.Client.Components.Icon
@using AquaSolution.Shared.CommonDto
@using AquaSolution.Shared.Enum
@inject HttpClient httpClient
@inject IMessageService Message
@{
    RenderFragment footer = @<Template>

        <Button OnClick="@SaveAsync" @key="@( "submit" )"
                Type="ButtonType.Primary">
            Save
        </Button>

        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>

    </Template>;
}
<Modal @bind-Visible="IsModalVisible" Style="z-index: 9999;width:1000px" Footer="@footer">
    <Form @ref="@formRef"
          Model="@HandlePageDto"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true">
        <Row Gutter="24">
            <Col Span="10">
            <FormItem Label="Page Name" Required="true">
                <TextArea ShowCount MinRows="1" MaxRows="1"
                          @bind-Value="@HandlePageDto.PageName"
                          AllowClear="true" />
            </FormItem>
            </Col>
          <Col Span="10">
            <FormItem Label="URL" Required="true">
                <TextArea ShowCount MinRows="1" MaxRows="1"
                          @bind-Value="@HandlePageDto.URL"
                          AllowClear="true" />
            </FormItem>
            </Col>
            <Col Span="4">
            <FormItem Label="Icon">
                <Button OnClick="() => { _visible = true; }">Icon Library</Button>
                <CavModalIcon @bind-IconValue="HandlePageDto.Icon" @bind-Visible="_visible"/>
                  @if (!string.IsNullOrEmpty(HandlePageDto.Icon))
                {
                    <Icon Type="@HandlePageDto.Icon" Style="font-size:30px" Theme="IconThemeType.Outline"></Icon>
                    <Text>@HandlePageDto.Icon</text>
                }
            </FormItem>
            </Col>
        </Row>
    </Form>
</Modal>


