@page "/task-management"
@using AquaSolution.Client.Common
@using AquaSolution.Client.Components.Administration.Users
@using AntDesign
@inject IJSRuntime JS
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Client.Components.KPI.KPITask
@using AquaSolution.Shared.KPI.KPITasks
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject PermissionService permissionService
<PageTitle>KPI-Task</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
             background: transparent !important; 
        }



        .custom-label {
            background-color: #007bff;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
        }

            .custom-label:hover {
                background-color: #0056b3;
            }
    </style>
    <div style="display: flex;  align-items: center; margin-bottom: 10px;">
        @if (Created)
        {
            <button @onclick="CreatedAsync" class="btn btn-primary custom-button-type">
                <Icon Type="plus" />Created
            </button>
        }
        <InputFile OnChange="HandleKPITaskFile"
                   accept=".xlsx,.xls" />
        <!-- #region Search -->
        <Input Placeholder="Task Name" Value="@TaskName" style="margin-left:2px;width:190px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="TaskNameInputChanged" />
        <button @onclick="Search" style="margin-left:5px;border-color:#fff"><Icon Type="search" />Search</button>
        <button @onclick="Reset" style="margin-left:5px;border-color:#fff"><Icon Type="undo" />Reset</button>

    </div>
    <!-- #endregion -->

</div>
<div style="width:100%;overflow-x:scroll ;max-height:70vh; ">
    <Table TItem="KPITaskDto"
           @ref="tableRef"
           Size="TableSize.Small"
           Class="customTable fix-table-header"
           DataSource="DataFilter">
        <ColumnDefinitions Context="row">
            <PropertyColumn Width="250px" Title="TaskName" Property="c => c.TaskName">
                <Template>
                    <a href="javascript:void(0);" @onclick="() => ViewAsync(row)">
                        @row.TaskName
                    </a>
                </Template>
            </PropertyColumn>
            <PropertyColumn Width="100px" Title="Category" Property="c => c.KPICategory" Filters="_kPICategoryFilter"></PropertyColumn>
            <PropertyColumn Width="100px" Title="Index" Property="c => c.KPIIndexType" Filters="_kPIIndexTypeFilter"></PropertyColumn>
            <PropertyColumn Width="150px" Title="Department" Property="c => c.Department" Filters="_departmentFilter"></PropertyColumn>
            <PropertyColumn Width="90px" Title="Factory" Property="c => c.Factory" Filters="_factoryFilter"></PropertyColumn>
            <PropertyColumn Width="90px" Title="DataSource" Property="c => c.DataSource"></PropertyColumn>
            <PropertyColumn Width="200px" Title="PIC" Property="c => c.OwnerName"></PropertyColumn>
            <PropertyColumn Width="90px" Title="Unit" Property="c => c.Unit"></PropertyColumn>
            <PropertyColumn Width="90px" Title="Max" Property="c => c.Max"></PropertyColumn>
            <PropertyColumn Width="90px" Title="Bottom" Property="c => c.Bottom"></PropertyColumn>
            <PropertyColumn Width="150px" Title="Formula" Property="c => c.Formula"></PropertyColumn>
            <PropertyColumn Width="150px" Title="QuarterCalculated" Property="c => c.Calculated"></PropertyColumn>

            <Column Fixed="ColumnFixPlacement.Right" TData="KPITaskDto" Width="50px" Context="row">
                <Template>
                    <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                        <ChildContent>
                            <Button Icon="menu" />
                        </ChildContent>
                        <ContentTemplate>
                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                <Button Type="ButtonType.Text" OnClick="@(async () => await ViewAsync(row))" Style="text-align: left;">
                                    <Icon Type="plus" /> Detail
                                </Button>
                                @if (Edit)
                                {
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await EditAsync(row))" Style="text-align: left;">
                                        <Icon Type="edit" /> Edit
                                    </Button>
                                }
                     
                                @if (Delete)
                                {
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(row))" Style="text-align: left;">
                                        <Icon Type="delete" /> Delete
                                    </Button>
                                }
                            </div>
                        </ContentTemplate>
                    </Popover>
                </Template>
            </Column>
        </ColumnDefinitions>
    </Table>
</div>
<HandleTaskModal @ref="handleTaskModal" OnSave="LoadData"></HandleTaskModal>
<KPITaskDetailModal @ref="KPITaskDetailModal"></KPITaskDetailModal>