@using System.Security.Claims
@using AntDesign
@using AquaSolution.Client.Components
@using AquaSolution.Shared.Menus
@using AquaSolution.Shared.Permissions
@using AquaSolution.Shared.UserManagements
@using Blazored.SessionStorage
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.SignalR.Client
@using System.IdentityModel.Tokens.Jwt
@inherits LayoutComponentBase
@inject AuthenticationStateProvider Auth
@inject HttpClient httpClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISessionStorageService _sessionStorage

<CascadingAuthenticationState>
    <style>
        .ant-menu-submenu-title{
            padding-left:10px !important;
        }

        .ant-menu-item{
            padding-left: 30px !important;
        }

        .sidebar-container::-webkit-scrollbar {
            width: 6px;
        }

        .sidebar-container::-webkit-scrollbar-track {
            background: #0f172a; 
        }

        .sidebar-container::-webkit-scrollbar-thumb {
            background-color: #475569;
            border-radius: 4px;
        }

            .sidebar-container::-webkit-scrollbar-thumb:hover {
                background-color: #64748b;
            }

        .ant-menu::-webkit-scrollbar {
            width: 6px;
        }

        .ant-menu::-webkit-scrollbar-thumb {
            background-color: #475569;
            border-radius: 4px;
        }

        .home-icon {
            font-size: 24px;
            cursor: pointer;
            color: #1890ff;
            padding: 6px; 
            border-radius: 50%;
            transition: all 0.2s ease-in-out; 
        }

            .home-icon:hover {
                background-color: rgba(24, 144, 255, 0.1);
                transform: scale(1.1);
            }

    </style>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar-container bg-dark text-white" style="width:44vh; min-height: 100vh;">
            @if (user?.Identity?.IsAuthenticated == true)
            {

          @*       <span style="display:flex; align-items:center; gap:6px;">
                    <Icon Class="home-icon" OnClick="Home" Type="home" />
                    <img src="https://hrmsaquavietnam.com:6969/images/Aqua-Smart%20Home%20-%20blue.png"
                         alt="AQUA Logo" style="width:120px;height:auto;" />
                </span> *@
                <Icon Class="home-icon" OnClick="Home" Type="home" />
                <Menu Mode="MenuMode.Inline"
                      Theme="MenuTheme.Dark"
                      Style="height: 94vh; overflow: auto;">
                    @foreach (var item in menu)
                    {
                        <SubMenu @key="item.Id">
                            <TitleTemplate>
                                <span style="display: flex; align-items: center; gap: 8px;">
                                    @{
                                        if (@item.Icon != null)
                                        {
                                            <Icon Type="@item.Icon" />
                                        }
                                    }
                                    @item.Name
                                </span>
                            </TitleTemplate>

                            <ChildContent>
                                @foreach (var page in item.Pages.OrderBy(x => x.Order))
                                {
                                    var pageValue = page;
                                    <MenuItem @key="page.Url">
                                        <NavLink class="text-white" href="@GetLink(page.Url)" Match="NavLinkMatch.All">
                                            <span style="display: flex; align-items: center; gap: 8px;">
                                                @if (@pageValue.Icon != null)
                                                {
                                                    <Icon Type="@pageValue.Icon" />
                                                }
                                                @pageValue.Name
                                            </span>
                                        </NavLink>
                                    </MenuItem>
                                }
                            </ChildContent>
                        </SubMenu>
                    }
                </Menu>
            }
        </div>
        <!-- Main content -->
        <div class="flex-fill d-flex flex-column">
            <header style="height:45px" class="bg-white shadow-sm px-4 py-2 d-flex justify-content-between align-items-center">
                <HeaderComponent CurrentUser="CurrentUser" userDto="userDto" />
            </header>
            <main class="p-1 bg-light flex-fill"style="width:183vh;"> 
                @Body
            </main>
        </div>
    </div>
</CascadingAuthenticationState>
