@using AntDesign
@using AquaSolution.Shared.Enum;
@using AquaSolution.Shared.CommonDto;
@using AquaSolution.Shared.ManageMedicalRooms.WarehouseExports
@using AquaSolution.Shared.UserManagements
@using AquaSolution.Shared.ManageMedicalRooms.Products
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject ModalService modal
@inject IMessageService Message
@{
    RenderFragment footer = @<Template>
    @if (!IsView)
    {
            <Button OnClick="@SaveAsync" @key="@( "submit" )"
                    Type="ButtonType.Primary">
                Save
            </Button>
    }
        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>
    </Template>;
}
<style>
    .ant-card-body {
        padding: 10px !important;
    }

    .customModal .ant-modal-body {
        height: 83vh !important;
    }

    .fix-table-header table {
        
        border-collapse: collapse;
    }

        .fix-table-header table thead th {
            position: sticky !important;
            z-index: 8 !important;
            top: 0;
            background-color: #fff;
        }
</style>

<Modal class="customModal" @bind-Visible="IsVisible" Style="z-index: 9999;width:1050px;margin-top:-90px" Footer="@footer" Header="@null">
    <Form @ref="formRef"
          Model="@createdWarehouseExportDto"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true">
        <!-- === Header: Thông tin nhập kho === -->
        <Card>
            <Row Gutter="16" Style="height:65px">
       
                <Col Span="8">
                <FormItem Required="true" Label="Title">
                    <Input Disabled="IsView" @bind-Value="createdWarehouseExportDto.WarehouseExportDto.Name" />
                </FormItem>
                </Col>
                <Col Span="11">
                <FormItem Required="true"  Label="Description">
                    <TextArea Disabled="IsView" @bind-Value="createdWarehouseExportDto.WarehouseExportDto.Description" MaxRows="1" />
                </FormItem>
                </Col>
                <Col Span="5">
                <FormItem Label="WarehouseExportTypeValue" Required="true">
                    <Select TItem="WarehouseExportType"
                            Disabled="IsView"
                            TItemValue="WarehouseExportType"
                            DataSource="@ListWarehouseExportType"
                            @bind-Value="@WarehouseExportTypeValue"
                            ItemValue="c => c"
                            ItemLabel="c =>GetPurposeTypeLabel(c)">
                    </Select>
                </FormItem>
                </Col>

            </Row>
            <Row Gutter="16" Style="height:90px">
                <Col Span="24">
                <FormItem Label="Note">
                    <TextArea Disabled="IsView" @bind-Value="createdWarehouseExportDto.WarehouseExportDto.Note" MaxRows="2" />
                </FormItem>
                </Col>
            
            </Row>
            @if (!IsView)
            {
                <Button Style=" position: sticky !important; z-index: 8 !important;top: 0;" OnClick="@AddDetailRow">
                    <Icon Type="plus" />AddDtail
                </Button>
            }
        </Card>
        <Card>
            <div style="width:100%;overflow-x:auto ;max-height:41vh; ">
           
                <Table @ref="tableRef"
                       TItem="WarehouseExportDetailDto"
                       Size="TableSize.Small"
                       Class="CustomTable  fix-table-header"
                       Bordered
                       HidePagination
                       DataSource="createdWarehouseExportDto.WarehouseExportDetailDtos">
                    <ColumnDefinitions Context="row2">
                        <Column Width="270" TData="WarehouseExportDetailDto" Title="THUỐC">
                            <Template>
                                <Select TItem="ProductExportDto" TItemValue="ProductExportDto"
                                        DataSource="@_soucreproduct"
                                        ItemValue="c => c"
                                        Disabled="IsView"
                                        EnableSearch
                                        AutoClearSearchValue="false"
                                        Value="@(_product2.FirstOrDefault(p => p.Id == row2.ProductId 
                                                && p.ExpirationDate == row2.ExpiryDate
                                                  && p.ManufacturingDate == row2.DateManufacture))"
                                        ValueChanged="(val => OnProductChanged(row2, val))"
                                        ItemLabel="c => c.Name">
                                    <ItemTemplate Context="item">
                                        <div style="white-space: normal;">
                                            @((MarkupString)item.Title)
                                        </div>
                                        @if (item != @_soucreproduct.Last())
                                        {
                                            <hr style="margin: 4px 0;height:2px" />
                                        }
                                    </ItemTemplate>
                                </Select>

                            </Template>
                        </Column>

                        <Column Width="110" TData="WarehouseExportDetailDto" Title="ĐVT">
                            <Template>
                                <Input Disabled="true" @bind-Value="row2.Unit" />
                            </Template>
                        </Column> 
                        @if (!IsView)
                        {
                            <Column Width="110" TData="WarehouseExportDetailDto" Title="SL THỰC TẾ">
                                <Template>
                                    <Input Disabled="true"
                                           Value="@((_product2.FirstOrDefault(p => p.Id == row2.ProductId
                                                                                   && p.ExpirationDate == row2.ExpiryDate
                                                                                   && p.ManufacturingDate == row2.DateManufacture)?.Quantity ?? 0).ToString())" />

                            </Template>
                        </Column>
                        }
  

                        <Column Width="100" TData="WarehouseExportDetailDto" Title="SỐ LƯỢNG">
                            <Template>
                                <AntDesign.InputNumber Step="1" TValue="decimal"
                                                       Precision="1" Disabled="IsView" @bind-Value="row2.Quantity" />

                            </Template>
                        </Column>
                        <Column Width="130" TData="WarehouseExportDetailDto" Title="LOẠI">
                            <Template>
                                <Input Disabled="true" @bind-Value="row2.ProductType" />
                            </Template>
                        </Column>

                        <Column Width="150" TData="WarehouseExportDetailDto" Title="NGÀY SX">
                            <Template>
                                <DatePicker Disabled="true" @bind-Value="row2.DateManufacture" Format="dd/MM/yyyy" />
                            </Template>
                        </Column>
                        <Column Width="150" TData="WarehouseExportDetailDto" Title="HSD">
                            <Template>
                                <DatePicker Disabled="true" @bind-Value="row2.ExpiryDate" Format="dd/MM/yyyy" />
                            </Template>
                        </Column>
                        @if (!IsView)
                        {
                            <Column Fixed="ColumnFixPlacement.Right" TData="WarehouseExportDetailDto" Width="30px" Context="row">
                                <Template>
                                    <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                        <Button Type="ButtonType.Text" OnClick="@(async () => RemoveDetailRow(row2))" Style="text-align: left;">
                                            <Icon Type="delete" />
                                        </Button>
                                    </div>
                                </Template>
                            </Column>
                        }

                    </ColumnDefinitions>
                </Table>
            </div>
        </Card>
    </Form>

</Modal>
