@using AntDesign
@using AquaSolution.Client.Components.Icon
@using AquaSolution.Shared.CommonDto
@inject AuthenticationStateProvider AuthStateProvider
@using AquaSolution.Shared.Enum
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient httpClient
@inject IMessageService Message

@{
    RenderFragment footer = @<Template>
        <Button OnClick="@SaveAsync" @key="@("submit")" Type="ButtonType.Primary">
            Save
        </Button>

        <Button Style="color:#808080" OnClick="@HandleCancel" @key="@("back")">
            Close
        </Button>
    </Template>;
}

<Modal @bind-Visible="IsModalVisible" Title="@Title" Width="600" Footer="@footer">
    <Form @ref="@formRef"
          Model="@_model"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true"
          Context="formCtx">

        <Row Gutter="24">
            <Col Span="12">
            <FormItem Required="true" Label="Product Code">
                <Input @bind-Value="_model.Code" />
            </FormItem>
            </Col>

            <Col Span="12">
            <FormItem Required="true" Label="Product Name">
                <Input @bind-Value="_model.Name" />
            </FormItem>
            </Col>
        </Row>

        <Row Gutter="24">
            <Col Span="12">
            <FormItem  Label="ProductType" Required="true">
                <Select TItem="ProductType"
                        TItemValue="ProductType"
                        DataSource="@ListProductType"
                        @bind-Value="@ProductType"
                        ItemValue="c => c"
                        disabled="@IsDisableType"
                        ItemLabel="c => c.ToString()">
                </Select>
            </FormItem>
            </Col>
            <Col Span="12">
            <FormItem Label="Unit">
                <Input @bind-Value="_model.Unit" />
            </FormItem>
            </Col>
        </Row>
        <Row Gutter="24">
            <Col Span="21">
            <FormItem Label="Note">
                <TextArea @bind-Value="_model.Note" Rows="2"></TextArea>
            </FormItem>
            </Col>
            <Col Span="3">
            <FormItem Label="IsHide">
                <Switch @bind-Value="@_model.IsHide" />
            </FormItem>
            </Col>

        </Row>

    </Form>
</Modal>
