@using AntDesign
@using AquaSolution.Shared.Enum;
@using AquaSolution.Shared.CommonDto;
@using AquaSolution.Shared.ManageMedicalRooms.WarehouseImports
@using AquaSolution.Shared.UserManagements
@using AquaSolution.Shared.ManageMedicalRooms.Products
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject IMessageService Message
@{
    RenderFragment footer = @<Template>


    @if (!IsView)
    {
            <Button OnClick="@SaveAsync" @key="@( "submit" )"
                    Type="ButtonType.Primary">
                Save
            </Button>
    }


        <Button Style="color:#808080" OnClick="@Close" @key="@("back")">Close</Button>

    </Template>;
}
<style>
    .ant-card-body {
        padding: 10px !important;
    }

    .ant-modal-body {
        height: 83vh !important;
    }

    .fix-table-header table {
        border-collapse: collapse;
    }

        .fix-table-header table thead th {
            position: sticky !important;
            z-index: 8 !important;
            top: 0;
            background-color: #fff;
        }
</style>

<Modal @bind-Visible="IsVisible" Style="z-index: 9999;width:1050px;margin-top:-90px" Footer="@footer" Header="@null">
    <Form @ref="formRef"
          Model="@createdWarehouseImportDto"
          Layout="FormLayout.Vertical"
          OnFinish="SaveAsync"
          ValidateMode="FormValidateMode.Complex"
          ValidateOnChange="true">
        <!-- === Header: Thông tin nhập kho === -->
        <Card>
            <Row Gutter="16" Style="height:65px">
          
                <Col Span="8">
                <FormItem Required="true" Label="Title">
                    <Input Disabled="IsView" @bind-Value="createdWarehouseImportDto.WarehouseImportDto.Name" />
                </FormItem>
                </Col>
                <Col Span="10">
                <FormItem Required="true" Label="Description">
                    <TextArea Disabled="IsView" @bind-Value="createdWarehouseImportDto.WarehouseImportDto.Description" MaxRows="1" />
                </FormItem>
                </Col>
                <Col Span="6">
                <FormItem Label="WarehouseImportTypeValue" Required="true">
                    <Select TItem="WarehouseImportType"
                            TItemValue="WarehouseImportType"
                            Disabled="IsView"
                            DataSource="@ListWarehouseImportType"
                            @bind-Value="@WarehouseImportTypeValue"
                            ItemValue="c => c"
                            ItemLabel="c => c.ToString()">
                    </Select>
                </FormItem>
                </Col>

            </Row>
            <Row Gutter="16" Style="height:90px">
                <Col Span="24">
                <FormItem Label="Note">
                    <TextArea Disabled="IsView" @bind-Value="createdWarehouseImportDto.WarehouseImportDto.Note" MaxRows="2" />
                </FormItem>
                </Col>
            </Row>
            @if (!IsView)
            {
                <Button Style=" position: sticky !important; z-index: 8 !important;top: 0;" OnClick="@AddDetailRow">
                    <Icon Type="plus" />AddDtail
                </Button>

            }
        </Card>
        <Card>
            <div style="width:100%;overflow-x:auto ;max-height:41vh; ">

                <Table @ref="tableRef"
                       TItem="WarehouseImportDetailDto"
                       Size="TableSize.Small"
                       Class="CustomTable  fix-table-header"
                       RowKey="@(row2 => row2.Id)"
                       Bordered
                       HidePagination
                       DataSource="createdWarehouseImportDto.WarehouseImportDetailDtos">
                    <ColumnDefinitions Context="row2">
                        <Column Width="270" TData="WarehouseImportDetailDto" Title="Product">
                            <Template>
                                <Select TItem="ProductDto" TItemValue="ProductDto"
                                        DataSource="@_products"
                                        ItemValue="c => c"
                                        Value="@( _products.FirstOrDefault(p => p.Id == row2.ProductId) )"
                                        ValueChanged="(val => OnProductChanged(row2, val))"
                                        Disabled="IsView"
                                        EnableSearch
                                        AutoClearSearchValue="false"
                                        ItemLabel="c => c.Name">
                                </Select>
                            </Template>
                        </Column>

                        <Column Width="110" TData="WarehouseImportDetailDto" Title="Unit">
                            <Template>
                                <Input Disabled="IsView" @bind-Value="row2.Unit" />
                            </Template>
                        </Column>
                        <Column Width="100" TData="WarehouseImportDetailDto" Title="Quantity">
                            <Template>
                                <AntDesign.InputNumber Step="1" TValue="decimal"
                                                       Precision="1" Disabled="IsView" @bind-Value="row2.Quantity" />
                            </Template>
                        </Column>
                        <Column Width="130" TData="WarehouseImportDetailDto" Title="ProductType">
                            <Template>
                                <Input Disabled="true" @bind-Value="row2.ProductType" />
                            </Template>
                        </Column>

                        <Column Width="150" TData="WarehouseImportDetailDto" Title="DateManufacture">
                            <Template>
                                <DatePicker Disabled="IsView" @bind-Value="row2.DateManufacture" />
                            </Template>
                        </Column>
                        <Column Width="150" TData="WarehouseImportDetailDto" Title="ExpiryDate">
                            <Template>
                                <DatePicker Disabled="IsView" @bind-Value="row2.ExpiryDate" />
                            </Template>
                        </Column>
                        @if (!IsView)
                        {
                            <Column Fixed="ColumnFixPlacement.Right" TData="WarehouseImportDetailDto" Width="30px">
                                <Template>
                                    <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                        <Button Type="ButtonType.Text" OnClick="@(async () => RemoveDetailRow(row2))" Style="text-align: left;">
                                            <Icon Type="delete" />
                                        </Button>
                                    </div>
                                </Template>
                            </Column>
                        }

                    </ColumnDefinitions>
                </Table>
            </div>
        </Card>
    </Form>

</Modal>
